/* Stylesheet for Assignment 3 */
/* By: Sherlyn */
body {
    background-color:blueviolet;
    padding-top: 0;
    margin-top: 0;
        }
main {
    background-color:deeppink;
    margin-left: auto;
    margin-right: auto;
    width: 80;
    }
header{
    height: 10em;
    background-color:fuchsia;
    }
header h1{ 
color: black;
font-size: 3em;
text-align: center;
padding-top: 1em;
}
nav {
    height: 3em;
    text-align: center;
    padding-top: 1em;
    }
section {
    min-height: 20em;
    padding: 2em;
    }
footer {
    height: 6em;
    background-color:darkmagenta;
    padding: 3em 2em;
    }